.front {
	position: absolute;
  margin: 0;
}

.back {
	position: fixed;
    width: 100vw;
    height: 100vh;
}

.front_part {
  width: 100vw;
	height: 150vh;
  margin-left:5px;
}

.front_container {
    width: 10vw;
    /*满的是100*/
    margin:10vw auto;
    padding: 10px;
    background-color:rgba(237,237,229,0.5);
    z-index: 10000;
    border-radius: 15px;
}


#circle1{
  display:none;
}
#circle2{
  display:none;
}
#circle3{
  display:none;
}
#map1{
  display:none;
}
#map2{
  display:none;
}
#map3{
  display:none;
}
#front8{
  z-index: 100000;
}
#small{
  display:none;
  width: 1000px;
}
#highlight1{
  display:none;
}
#highlight2{
  display:none;
}
#highlight3{
  display:none;
}
#highlight4{
  display:none;
}
#highlight5{
  display:none;
}
#highlight6{
  display:none;
}

#front18{
  background-color: #275167;
}
 
#front8,#front10,#front11,#front12,#front13,#front14,#front15,#front16{
  width:300px;
  margin-right:50px;
  float: right;
}

#bar{
  display:none;
}

#scatter{
  display:none;
}

#front4{
  width: 100%;
}

#tuli{
  font-size: 10px;
  width: 830px;
  height: 50px;
  line-height: 1.5em;
  margin-top: 40px;
  color:grey;
}

footer{
  font-family: "微软雅黑 Light";
  font-size: 15px;
  line-height: 2em;
  padding-top: 20px;
  padding-left: 50px;
  background-color: #275167;
  height: 120px;
  color: white;
}

.highlighted{
  fill:#bd2e20;
}

/*屏幕适配 大小屏幕*/ 
@media screen and (min-width: 800px){
    .front_container {
        width: 350px;
        margin-top: 50vh;
        margin-left: 800px;
    }
}

@media screen and (min-width: 1500px){
    .front_container {
        width: 600px;
        margin-left: 1200px;
    }
}



/*small*/
          h1 {
            font-size: 26px;
            font-weight: bolder;
            margin-top:15px;
            font-family:'cyjianbiaosong16c8c954131ef01';
            color:  #173a4c ;
          }

          h2{
            font-size:20px;
            font-family: '微软雅黑 Light';

          }

          p {
            font-size: 15px;
            font-family:'微软雅黑 Light';
            line-height: 1.8em;
            letter-spacing: 1px;
            padding: 10px;
          }

          #intro{
       height: 300px;
       margin-top:-300px;
       z-index: 50000;
       position: absolute;
       width: 80%;
       margin-left:10%;
       margin-right: 10%;
      }

      #center{
       height: 200px;
       margin-top:-450px;
       z-index: 50000;
       position: absolute;
       width: 50%;
       margin-left:25%;
       margin-right: 25%;
       background-color: rgba(255,255,255,0.7);
       padding: 10px;
      }


       #center2{
       height: 240px;
       margin-top:-500px;
       z-index: 50000;
       position: absolute;
       width: 50%;
       margin-left:25%;
       margin-right: 25%;
       background-color: rgba(255,255,255,0.7);
       padding: 10px;
      }


      #center1{
       height: 140px;
       margin-top:-450px;
       z-index: 50000;
       position: absolute;
       width: 50%;
       margin-left:25%;
       margin-right: 25%;
       background-color: rgba(255,255,255,0.7);
       padding: 10px;
      }


          .credit{
            font-size:16px;
            color:#555555;
            font-family:'微软雅黑';
          }

          a{
            text-decoration: none;
            color:grey;
                }

          .background {
              fill: none;
            }

          .chart {
              float: left;
              padding-right: 15px;
              padding-bottom: 33px;
              padding-top:0;
              padding-left:0;
            }
          

            .line {
              fill: none;
              stroke: grey;
              stroke-width: 1.5px;
            }

            .title {
              font-size: 15px;
              font-family: "微软雅黑 Light";
            }

            .axis line, .grid line {
              stroke-width: .5px;
              shape-rendering: crispEdges;
              stroke: #fff;
              opacity: 0.5;
              pointer-events: none;
            }

            .axis path {
              display: none;
            }

            .hidden {
              display:none;
              opacity: 0.0;
            }

            .label {
                fill: black;
                font-size: 10px;
            }

            .endpoint {
                fill: #666;
            }


            #form{
              text-align: center;
            }

            .static_year{
                    font-size:12px;
                    fill: grey;
                }


            .caption{
                font-size:12px;
                fill:black;
            }
            .showyear{
                font-size:12px;
                fill:black;
            }

/*ditu*/
          
      path {
        stroke: #FFFFFF;
        stroke-width: .1px;
        /*transition: transform 0.25s ease;*/
      }


      path:hover {
        /*fill: #BC333B;*/
        /*transform: scale(1.2,1.2);
        cursor: pointer;
        z-index: 10;*/
        stroke-width: .7px;
      }

      .legendLinear text {
          font-size: 12px;
      }

      .tooltip {
        position: absolute;
        z-index: 10;
      }

      .tooltip p {
                background-color: white;
                color: gray;
                border: gray 1px solid;
                padding: 2px;
            }

     /* bar*/
    #mean{
        width:600px;
    }
    #chart {
        width:300px;
    }
    #chart2{
        width:300px;
    }

    #menu {
        padding: 10px 300px;
        margin-left:35px;
    }

    #menu select {
       width: 120px;
       line-height: 0.8;
       height: 25px;
       border-width: 1px;
    }

 

/*ditu*/
            body {
        background-color: white;
        font-family: Helvetica, Arial, sans-serif;
       
      }

     

     

      path {
        stroke: #FFFFFF;
        stroke-width: .1px;
        /*transition: transform 0.25s ease;*/
      }


      path:hover {
        /*fill: #BC333B;*/
        /*transform: scale(1.2,1.2);
        cursor: pointer;
        z-index: 10;*/
        stroke-width: .7px;
      }

      .legendLinear text {
          font-size: 9px;
      }

      .tooltip {
        position: absolute;
        z-index: 10;
      }

      .tooltip p {
                background-color: white;
                color: gray;
                border: gray 1px solid;
                padding: 2px;
            }

     /* bar*/
     .bar-legend{
      font-family: "微软雅黑 Light";
      font-size:12px;
     }


      #mean{
        width:600px;
    }
    #chart {
        float: left;
        width:300px;
    }
    #chart2{
        float: left;
        width:300px;
    }


    #menu {
        padding: 15px 210px;
        font-weight: bolder;
    }

    #menu select {
       background: white;
       width: 120px;
       padding: 5px;
       font-size: 12px;
       line-height: 0.8;
       border: 1;
       border-radius: 0;
       height: 25px;
    }

    .labels {
        fill: black;
        font-size: 10px;
    }*/

    /*scatter*/
    circle:hover {
        fill: #BC333B;
        cursor: pointer;
      }
    
    .dots {
        fill: #e5aba6;
        opacity: .7;
      }

      .dotsexport{
        fill: #99c1d5;
        opacity: .7;
      }

      .dotsimport{
        fill: #f2ad8e;
        opacity: .7;
      }

      .dotlabels {
        font-size: 10px;
        color: black;
      }

      #menu-scatter {
        padding-left: 250px;
        font-weight: bolder;

      }

      #menu-scatter select{
        background: white;
        height: 25px;
        font-size: 12px;
      }

      .xlabel,.ylabel{
        font-size: 12px;
        fill: black;
        font-family: "微软雅黑 Light";
      }

      .axis1 path,
      .axis1 line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis1 text {
        font-family: sans-serif;
        font-size: 12px;
      }
